body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E64833;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.maindiv{
    display: flex;
    flex-direction: row;
    align-items: stretch;


    min-height: 80vh;
    min-width: 80vw;
    border-radius: 15px;

    box-shadow: 10px 10px 10px rgb(0, 0, 0); 
}

.maincontainer {
    background-color: #FBE9D0;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#sidebar {
    display: flex;
    flex-direction: column; 
    background-color: #244855;
    color: #FBE9D0;
    width: 200px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#sidebarlist{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}

#sidebarlist button {
    border: none;
    border-radius: 5px;
    background-color:#FBE9D0;
    font-size: 20px;
    width: 50%;
}
.todoList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todoList .todoEntry{

    padding-left: 15px;
}
.todoList label{
    padding-left: 10px;
    font-size: 25px;
}

.todoEntry {
    display: flex;
    gap: 10px;
}

.todoEntry input[type=checkbox]{
    margin-top: 0px;
    transform: scale(2);
}

#detailPane {
    display: none;
    position: absolute;
    top: 75%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border: solid #9d9d9d;
    background-color: antiquewhite;
    box-shadow: 5px 5px 5px black; 
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
}

#addformdiv{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border: solid #9d9d9d;
    background-color: antiquewhite;
}

#buttondiv{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border-top-right-radius: 15px;
}

#addform label {
    font-size: 20px;
}
#addform input {
    width: 90%;
    clear: both;
    font-size: 20px;
}

#addform ul {
    list-style-type: none;
}

.brownbutton {
    border: none;
    background-color: #874F41;
    color: #FBE9D0;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}

#addtodo {    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px; 
    font-size: 30px;
    line-height: 30px;
}

.detaildiv {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-left: auto;
}


#addtodo:hover{
    background-color: #244855;
}

.detailbtn:hover{
    background-color:#E64833;
}
.detailbtn {
    font-size: 15px;
    background-color: #244855;
    margin-right: 5px;
}